.footer {
    background-image: url('../img/footer-bg.jpg');
    background-size: cover;
    color: #fff;
    font-size: 16px;
    line-height: 19px;
}
.footer__body {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 60px 0;

    h4 {
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        margin-bottom: 25px;
    }
    h5 {
        margin-top: 50px;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 20px;
    }
    li {
        margin-bottom: 18px;
    }
}
.footer__soc {
    display: flex;

    li {
        margin-bottom: 0;
        margin-right: 25px;

        &:nth-child(3) {
            margin-right: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}
.footer__column-block {
    margin-left: 105px;
}
.footer__logo {
    margin-bottom: 22px;
}
.footer__address {
    span {
        margin-bottom: 30px;
        display: block;
    }
    margin-bottom: 60px;
}
.footer__email {
    margin-bottom: 45px;
}